main section {
  display: flex;
  flex-direction: column;
  scroll-margin-top: var(--header-height);
  width: 100%;
  gap: 2rem;
  max-width: 68rem;

  h2 {
    text-align: center;
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    font-weight: normal;
  }
}

